body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.quiz-box {
  background: #354671;
  padding: 30px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#question-text{
    color: white;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #e2e2e2;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 16px;
  color: #e3e3e3;
}

#question-text {
  font-size: 18px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f2f2f2;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

li:hover {
  background-color: #e4e2e2;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #00620f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #126b00;
}

.hidden {
  display: none;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
